---
language: ruby
sudo: false
cache: bundler
script: "bundle exec rake ci"
rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.5
  - 2.3.1
  - ruby-head
  - jruby-9000
  - jruby-head
  - rbx
env:
  global:
    - JRUBY_OPTS="-Xcli.debug=true --debug"
matrix:
  allow_failures:
    - rvm: rbx
    - rvm: ruby-head
    - rvm: jruby-head
  fast_finish: true
branches:
  only: master
notifications:
  email: false
